body{
	color: #595959;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	

}
header{
	position: absolute;
	top: 56px;
	left: 0;
	right: 0;
	z-index: 99;
}


.logo{
	font-size: 24px;
font-weight: 600;
line-height: 14px;
text-decoration-line: bold;
margin-left: 60px;
}
.wrapper{
	max-width: 1440px;
	margin: 0 auto;
}
.header-wrap{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu{
	display: flex;
  list-style:none;
  text-align: center;
  padding: 10px;
  
}
.menu_link{
	font-size: 15px;
	font-weight: 500;
	line-height: 33px;
  color:#0d0d0d;
  
}
.menu_link:hover {
  font-weight: bold;
  font-size: 18px;
  
}

.menu_item{
  display: flex;
  justify-content: center;
	margin-left: 30px;
  position: relative;
  width: 90px;
height: 25px;

}	
.slider_focus{
  position: absolute;
  top:0;
  left: 300px;
  width: 500px;
}
.work1{
	padding-top:150px;
}
.big{
	width: 580.79px;
	height: 580px;
	margin-left: 15px;
	border-radius: 2%;
}
img{
	width: 280.42px;
	margin: 0;
	padding: 0;
	box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.25);
	margin: 8px;
	border-radius: 5%;
	
}
.item1{ 
	display: flex;
	flex-wrap:wrap;
	align-self:baseline;
	align-items: center;
	justify-content: center;

}
.item1_colum1{
	width: 600px;
	display: inline-block;
	margin-right: -10px;
}
.item1_colum2{
	width: 600px;
	display: inline-block;
	
}